<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- In diesem Fragment können alle Eigenschaften und Styles hinterlegt werden, die auf allen HTML-Seiten
gelten sollen und einfach per Fragment eingebunden werden können -->
    <th:block th:fragment="htmlHead">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../css/sopra-demo.css"/>
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
        <title>Sopra Demo</title>
    </th:block>
</html>