<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/htmlHead :: htmlHead"></th:block>
</head>
<body>
<div class="container">
    <p class="marginTop20" th:text="'Hello World!'"></p>
    <div class="alert alert-success" role="alert">
        Wenn dieser Text in einem grünen Alert erscheint haben Sie Bootstrap erfolgreich eingebunden.
    </div>
    <p th:text="'Registriert sind folgende User:'"></p>
    <ul>
        <li th:each="user : ${allUsers}">
            <span th:text="${user.username}"></span>
        </li>
    </ul>
</div>
</body>
</html>